# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.db

# Virtualenv
.venv/
venv/
ENV/
*.pdf
# VSCode
.vscode/

# Dotenv
.env
.env.*

# Mypy/Ruff
.mypy_cache/
.ruff_cache/

# Sonstige
.DS_Store
.idea/
