fastapi
uvicorn[standard]
pydantic
python-dotenv

python-dateutil

# Dokumentenverarbeitung & Vektor-DB
langchain
langchain-community
langchain-huggingface
faiss-cpu
sentence-transformers
PyMuPDF

# RAG-spezifische Komponenten
langchain-ollama
langchain-core
